* {
    font-family: "Verlag A", "Verlag B", "Arial";
}

html{
    height: 100%
}

body {
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
    margin: 0 0;
    border: 1px solid black;
    background-color: #F8F8F8;
    position: relative;
}



