#coming-up-item-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1.7em;
}

#coming-up-artist{
    font-size: 1em;
    font-weight: bold;
    margin: 0em 0em .2em 0em;
}

#coming-up-title{
    font-size: 1em;
    margin: 0em;
}