#coming-up-item-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1.7em;
}

#coming-up-artist{
    font-size: 1em;
    font-weight: bold;
    margin: 0em 0em .2em 0em;
}

#coming-up-title{
    font-size: 1em;
    margin: 0em;
}

#upvotes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#coming-up-song-upvotes{
    font-size: 1.1em;
    font-weight: bold;
    color: red;
    margin: 0;
}

#coming-up-song-upvotes.positive {
    color: #40b65c;
}