#coming-up-item-container{
    display: flex;
    justify-content: space-between;
    margin-top: 1.7em;
}

#coming-up-song-info{
    text-overflow: ellipsis;
}

#coming-up-artist{
    font-size: 2vh;
    font-weight: bold;
    margin: 0em 0em .2em 0em;
}

#coming-up-title{
    font-size: 2vh;
    margin: 0em;
    margin-bottom: 3vh;
}

#upvotes-container{
    min-width: 15%;
    flex-direction: column;
    justify-content: center;
}

#coming-up-song-upvotes{
    font-size: 3vh;
    font-weight: bold;
    color: red;
    margin: 0;
}

#coming-up-song-upvotes.positive {
    color: #40b65c;
}