#leaderboard-content{
    margin: 3em 2.2em 3em 2.2em;
}

.category-index-1{
    margin-top: 1.5em;
    margin-left: .5em;
}

.category-index-1 img:not(:last-child){
    margin-right: 1.4em;
}

.category-index-2{
    margin-top: 1.5em;
    margin-left: .5em;
}

.category-index-2 img:not(:last-child){
    margin-right: 1.4em;
}

.leaderboard-section-title{
    font-size: 1.1em;
    font-weight: 100;
    text-decoration: underline;
    margin-bottom: 0;
}

#spinner{
    font-size: 1.5em;
    text-align: center;
}