#now-playing-container{
    height: 15vh;
    display: flex;
}

#now-playing-artwork{
    border-radius: 8px;
    margin-right: 4.5vw;
    min-height: 15vh;
    min-width: 15vh;
}

#now-playing-artist{
    font-size: 3vh;
    font-weight: bold;
    margin: .8em 0em 0em 0em;
}

#now-playing-title{
    font-size: 3vh;
    margin: .2em 0em 0em 0em;
}